@model IEnumerable<WebMotors.App.Models.Domain.Anuncio>
@{
	ViewData["Title"] = "Anuncio";
}
	<h1>
		Anuncios
	</h1>

<p>
	<a asp-action="Create" class="btn btn-default">Criar Novo</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Marca)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Modelo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Versao)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Ano)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Quilometragem)
			</th>			
			<th>
				@Html.DisplayNameFor(model => model.Observacao)
			</th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ID)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Marca)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Modelo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Versao)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Ano)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Quilometragem)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Observacao)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
				<a asp-action="Details" asp-route-id="@item.ID">Detalhe</a> |
				<a asp-action="Delete" asp-route-id="@item.ID">Apagar</a>
			</td>
		</tr>
		}
	</tbody>
</table>
